# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Envs
.venv/
venv/
ENV/

# Packaging
build/
dist/
*.egg-info/

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store

# Editors
.vscode/
.idea/
